<div class="t">
<div class="container mx-auto">
    <h1 class="text-2xl font-bold mb-4">List of Teachers</h1>
      <h1 class="text-2xl font-bold mb-4">Teacher List</h1>
      <br>
      <div class="flex justify-center mb-4">
      <input [(ngModel)]="searchText" type="text" class="form-input rounded-l-lg w-64" placeholder="Search by teacher name...">
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-r-lg" (click)="search()">Search</button>
          <br>
    </div>
      <table class="table-auto w-full">
        <thead>
          <tr>
            <th class="px-4 py-2  text-gray-700">ID</th>
            <th class="px-4 py-2  text-gray-700">First Name</th>
            <th class="px-4 py-2  text-gray-700">Last Name</th>
            <th class="px-4 py-2  text-gray-700">Email</th>
            <th class="px-4 py-2  text-gray-700">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let teacher of teachers" [class.editing]="teacher.editing">
            <td class="border px-4 py-2">{{ teacher.id_enseignant }}</td>
            <td class="border px-4 py-2">
              <ng-container *ngIf="!teacher.editing">{{ teacher.fname }}</ng-container>
              <input *ngIf="teacher.editing" [(ngModel)]="teacher.fname" class="form-input">
            </td>
            <td class="border px-4 py-2">
              <ng-container *ngIf="!teacher.editing">{{ teacher.lname }}</ng-container>
              <input *ngIf="teacher.editing" [(ngModel)]="teacher.lname" class="form-input">
            </td>
            <td class="border px-4 py-2">
              <ng-container *ngIf="!teacher.editing">{{ teacher.email }}</ng-container>
              <input *ngIf="teacher.editing" [(ngModel)]="teacher.email" class="form-input">
            </td>
            <td class="border px-4 py-2">
              <div class="flex justify-center items-center">
                <button *ngIf="!teacher.editing" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" (click)="teacher.editing = true">Edit</button>
                <button *ngIf="teacher.editing" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded" (click)="updateTeacher(teacher.id_enseignant)">Save</button>
                <button *ngIf="teacher.editing" class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded" (click)="teacher.editing = false">Cancel</button>
                <button *ngIf="!teacher.editing" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" (click)="deleteTeacher(teacher.id_enseignant)">Delete</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="flex justify-center mt-4">
        <!-- Component template -->
        <button (click)="showModal = true" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
          Add Teacher
        </button>
        
        <div *ngIf="showModal" class="fixed z-10 inset-0 overflow-y-auto">
          <div class="flex items-center justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
            <div class="fixed inset-0 transition-opacity" aria-hidden="true">
              <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
            </div>
        
            <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
        
            <div class="inline-block align-middle bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full">
              <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                <!-- Modal content here -->
                <h4 class="mb-4 text-lg font-semibold text-center">Add Teacher</h4>
                <form [formGroup]="registerForm" (ngSubmit)="onRegister()" >
                  <div class="mb-4">
                    <label for="firstName" class="block text-gray-700 font-semibold mb-2">First Name:</label>
                    <input type="text" id="firstName" name="fname" formControlName="fname" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 w-full">
                  </div>
            
                  <div class="mb-4 ">
                    <label for="lastName" class="block text-gray-700 font-semibold mb-2">Last Name:</label>
                    <input type="text" id="lastName" name="lname" formControlName="lname" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 w-full">
                  </div>
            
                  <div class="mb-4">
                    <label for="email" class="block text-gray-700 font-semibold mb-2">Email:</label>
                    <input type="email" id="email" name="email" formControlName="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 w-full">
                  </div>
            
                  <div class="mb-4">
                    <label for="password" class="block text-gray-700 font-semibold mb-2">Password:</label>
                    <input type="password" id="password" formControlName="password" name="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 w-full">
                  </div>
                  <div class="bg-gray-100 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                    
                    <button type="submit" class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-blue-500 text-base font-medium text-white hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 sm:ml-3 sm:w-auto sm:text-sm">
                      Save
                    </button>
                    <button type="button" class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-300 sm:mt-0 sm:w-auto sm:text-sm" (click)="showModal = false">
                      Cancel
                    </button>
                  </div>
              </form>
              </div>
             
            
        
          
            </div>
          </div>
        </div>
  </div>
</div>  