<!-- Container for demo purpose -->
<div class="container my-24 px-6 mx-auto">

    <!-- Section: Design Block -->
    <section class="mb-32 text-gray-800 text-center" >
      <h2 class="text-3xl font-bold mb-32">MEET THE TEAM</h2>
  
      <div class="grid gap-x-6 lg:gap-x-12 md:grid-cols-3">
        <div class="mb-24 md:mb-0">
          <div class="rounded-lg shadow-lg h-full block bg-white">
            <div class="flex justify-center">
              <div class="flex justify-center" style="margin-top: -75px">
                <img src="https://scontent.ftun8-1.fna.fbcdn.net/v/t39.30808-6/324106539_1230459964212029_5391784656515031058_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=ysrZBWgKlr0AX-Dnz2o&_nc_ht=scontent.ftun8-1.fna&oh=00_AfBLc01iQIEv6fZQogFlkhs3exGp9CP1Nqgte-f1SvYhcg&oe=6444B75D" class="rounded-full mx-auto shadow-lg" alt=""
                  style="width: 150px" />
              </div>
            </div>
            <div class="p-6">
              <h5 class="text-lg font-bold mb-4">Rami Abidi</h5>
              <ul class="list-inside flex mx-auto justify-center">
          
              </ul>
            </div>
          </div>
        </div>
  
        <div class="mb-24 md:mb-0">
          <div class="rounded-lg shadow-lg h-full block bg-white">
            <div class="flex justify-center">
              <div class="flex justify-center" style="margin-top: -75px">
                <img src="https://scontent.ftun8-1.fna.fbcdn.net/v/t39.30808-6/331481499_1940388956310986_8497644455923947736_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=pX7MOrwdnzgAX9jXkbd&_nc_oc=AQkGFsOuEAlnr-s-bFdCP7I55VmMr0PnJadrUBsBjXk_Qmv7rojJen_qf2Jgk_KcnV8&_nc_ht=scontent.ftun8-1.fna&oh=00_AfAe4SbWnPpDjhMUPXfH69kJFESnVwY6ecEeZ3GjZKLjWA&oe=64467307" class="rounded-full mx-auto shadow-lg" alt=""
                  style="width: 150px" />
              </div>
            </div>
            <div class="p-6">
              <h5 class="text-lg font-bold mb-4">Jaballah saifeddine</h5>
              <ul class="list-inside flex mx-auto justify-center">
             
              </ul>
            </div>
          </div>
        </div>
  
        <div class="">
          <div class="rounded-lg shadow-lg h-full block bg-white">
            <div class="flex justify-center">
              <div class="flex justify-center" style="margin-top: -75px">
                <img src="https://scontent.ftun8-1.fna.fbcdn.net/v/t31.18172-8/28337311_2117556114928479_6195620147080553146_o.jpg?_nc_cat=110&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=XY9i6IWyWUoAX-yfEP4&_nc_ht=scontent.ftun8-1.fna&oh=00_AfCiG4F_guS2NE10VmN_Ascz9ZzgZueHdaGo_ZwfmkEYzg&oe=64681B09" class="rounded-full mx-auto shadow-lg" alt=""
                  style="width: 150px" />
              </div>
            </div>
            <div class="p-6">
              <h5 class="text-lg font-bold mb-4">Mahdi zaied</h5>
              <ul class="list-inside flex mx-auto justify-center">
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Section: Design Block -->
  
  </div>
  <!-- Container for demo purpose -->