<form #fileForm enctype="multipart/form-data" method="POST" (ngSubmit)="onSubmit()">
  <div class="max-w-md mx-auto rounded-md bg-white shadow-md p-6">
    <div class="mb-4 flex items-center">
      <i class="far fa-file-pdf text-4xl text-red-600 mr-4"></i>
      <h2 class="text-lg font-bold text-gray-700">Add Documents</h2>
    </div>
    <div class="mb-4">
      <label for="title" class="block text-gray-700 font-bold mb-2">Title:</label>
      <input type="text"
        [(ngModel)]="title"
        name="title"
        id="title"
        class="h-12 px-3 w-full border-gray-300 border rounded focus:outline-none focus:border-gray-400">
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 font-bold mb-2">
        Attachments:
        <span class="text-gray-400 text-sm ml-2">(Accepted file type: All)</span>
      </label>
      <div class="relative rounded-lg border-dashed border-2 border-gray-300 bg-gray-100 flex justify-center items-center hover:cursor-pointer">
        <div class="absolute">
          <div class="flex flex-col items-center ">
            <i class="far fa-file-pdf text-4xl text-gray-400"></i>
            <span class="block text-gray-400 font-normal mt-2">Attach your files here or Browse files</span>
          </div>
        </div>
        <input type="file" class="h-full w-full opacity-0" name="file" (change)="onFileSelected($event)">
      </div>
    </div>
    <div class="flex justify-end items-center">
      <button class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
        Create
      </button>
    </div>
  </div>
  <div *ngIf="uploadSuccess" class="text-green-500 mt-4">File uploaded successfully!</div>
  <div *ngIf="uploadError" class="text-green-500 mt-4">File uploaded successfully!</div>

  
</form>
